@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif !important;
}
nav {
  font-family: "Raleway", sans-serif !important;
  transition: all 0.4s;
}
.home-line-style::after {
  content: "";
  position: absolute;
  border-right: 1px solid azure;
  height: 80vh;
  right: 30px;
  top: 5rem;
}
/* .home-text-overlay::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid azure;
  width: 40vw;
  bottom: 5rem;
  right: 5rem;
} */
.home-bg-img {
  background-image: url(./asset/image/jpg/gavel.jpg);
  background-size: 100% 100%;
}
@media only screen and (max-width: 970px) {
  .home-text-overlay {
    width: 70% !important;
    transition: all 0.4s;
  }
}
@media only screen and (max-width: 768px) {
  .home-bg-img {
    height: 70vh !important;
    transition: all 0.4s;
  }
  .home-title {
    font-size: 2rem !important;
    transition: all 0.4s;
  }
  .home-line-style::after {
    display: none;
  }
  .home-line2-style::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid azure !important;
    width: 80vw !important;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%);
  }
  .home-text-overlay {
    width: 100% !important;
    transition: all 0.4s;
  }
  .home-logo {
    height: 2.6rem !important;
    transition: all 0.4s;
  }
  .roy,
  .and,
  .associate {
    font-size: 8rem !important;
  }
}
.service-card-bg-img {
  /* background: url(./asset/image/jpg/gavel.jpg);
  background-size: 100% 100%;
  filter: contrast(120%);*/
  background-color: rgb(54, 52, 52);
}
.lady-justice {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  max-height: 35rem;
}
.roy,
.and,
.associate {
  font-size: 15rem;
  font-weight: bold;
  position: absolute;
  font-family: "Merriweather", serif;
  word-break: break-all;
}
.roy {
  top: 0;
  left: 0;
}
.and {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.associate {
  bottom: 0;
  right: 0;
}
