* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(77, 113, 145);
}
.sidebar {
  background-color: #ffffff;
  width: 280px;
  height: 100vh;
  position: absolute;
}
.sidebar img {
  width: 280px;
  border-bottom: 1px solid #dfdfdf;
}
.menu-items-wrapper {
  padding: 20px;
}
.menu-ul {
  padding-left: 0;
  list-style: none;
}
.menu-title {
  margin-left: 10px;
}
.menu-item {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
}

.submenu-icon {
  margin-left: auto;
  transition: transform 0.3s;
}

.submenu {
  margin-left: 20px;
  display: none;
}

.visible {
  display: block;
}
