* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  height: 85vh;
  width: 90vw;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  height: 100%;
  width: 100%;
  position: relative;
  animation-name: sub-container-animation;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes sub-container-animation{
  0%{
    top: 0;
  }
  25%{
    top: 2rem;
  }
  50%{
    top: 0;
  }
  75%{
    top: -2rem;
  }
  100%{
    top: 0;
  }

}
.ap-body-back {
  position: absolute;
  height: 18rem;
  width: 35rem;
  background-color: #0000;
  background-color: rgb(58, 33, 82);
  border-radius: 0 100% 100% 0 / 50%;
  top: 15rem;
  right: 34rem;
  /* z-index: 1; */
}
.ap-body-front {
  position: absolute;
  height: 10rem;
  width: 18rem;
  background-color: #0000;
  background-color: rgb(58, 33, 82);
  border-radius: 50% / 100% 100% 0 0;
  transform: rotate(270deg);
  top: 19rem;
  left: 25rem;
}
.ap-window {
  position: absolute;
  height: 13rem;
  width: 14rem;
  background-color: white;
  transform: rotate(-134deg);
  border-radius: 100% 0% 71% 29% / 75% 0% 100% 25%;
  border: none;
  left: 42rem;
  top: 9rem;
}
.border-1 {
  width: 100px;
  height: 17.4rem;
  border: 8px solid white;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-radius: 30px/90px;
  border-radius: 50px/140px;
  position: absolute;
  top: 15.3rem;
  left: 33rem;
}
.tail-1 {
  position: absolute;
  height: 7rem;
  width: 5rem;
  background-color: #0000;
  background-color: rgb(58, 33, 82);
  border-radius: 50% / 100% 100% 0 0;
  transform: rotate(30deg);
  top: 13rem;
  right: 36rem;
  border-top: 1px solid white;
}
.tail-2 {
  position: absolute;
  height: 7rem;
  width: 7rem;
  background-color: #0000;
  background-color: rgb(58, 33, 82);
  border-radius: 50% / 0 0 100% 100%;
  transform: skewX(47deg) !important;
  border-bottom: 1px solid white;
  top: 25rem;
  right: 34rem;
}
.tail-3 {
  position: absolute;
  height: 14rem;
  width: 14rem;
  background-color: #0000;
  background-color: rgb(58, 33, 82);
  border-radius: 50% / 0 0 100% 100%;
  transform: skewX(52deg) !important;
  border-bottom: 1px solid white;
  top: 25rem;
  left: 50rem;
  z-index: 1;
}
.front-fan-bolt {
  position: absolute;
  height: 0;
  width: 110px;
  border-bottom: 71px solid rgb(69, 66, 73);
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  transform: rotate(268deg);
  top: 22rem;
  left: 25rem;
  z-index: 1;
  border-radius: 50%;
}
.fan-1 {
  position: absolute;
  background-color: yellowgreen;
  top: 13rem;
  left: 26rem;
  transform: rotate(-29deg);
  height: 10rem;
  width: 3rem;
  border-radius: 100% 0% 92% 8% / 90% 0% 100% 10%;
  
}

.fan-2 {
  position: absolute;
  height: 3rem;
  width: 10rem;
  background-color: yellowgreen;
  /* border-radius: 100% 0% 92% 8% / 90% 0% 100% 10%; */
  border-radius: 90% 0% 100% 10%/100% 0% 92% 8%;
  top: 23rem;
  left: 30rem;
  transform: rotate(18deg);
}
.fan-3 {
  position: absolute;
  height: 10rem;
  width: 3rem;
  background-color: yellowgreen;
  border-radius: 100% 0% 92% 8% / 90% 0% 100% 10%;
  bottom: 14rem;
  left: 25.5rem;
  transform: rotate(17deg);
}
.wheel {
  position: absolute;
  height: 7rem;
  width: 7rem;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  top: 30rem;
  left: 45rem;
}
.wheel-inner {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  top: 29rem;
  left: 45rem;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  top: 5rem;
  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}
.c1 {
  animation-name: example-4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.c2 {
  top: 35rem;
  animation-name: example-3;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.c3 {
  top: 26rem;
  animation-name: example-2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.c4 {
  top: -3rem;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

/* @keyframes example {
  0% {
    top: -2rem;
  }
  25% {
    top: -3rem;
  }
  50% {
    top: -4rem;
  }
  75% {
    top: -3rem;
  }
  100% {
    top: -2rem;
  }
} */

@keyframes example {
  0% {
    left: 0%;
  }
  50% {
    display: none;
  }
  100% {
    left: 100%;
  }
}

/* @keyframes example-2 {
  0% {
    top: 28rem;
  }
  50% {
    top: 26rem;
  }
  100% {
    top: 27rem;
  }
} */

@keyframes example-2 {
  0% {
    left: 0%;
  }
  50% {
    display: none;
  }
  100% {
    left: 100%;
  }
}


/* @keyframes example-3 {
  0% {
    top: 34rem;
  }
  25% {
    top: 35rem;
  }
  50% {
    top: 34rem;
  }
  75% {
    top: 33rem;
  }
  100% {
    top: 34rem;
  }
} */

@keyframes example-3 {
  0% {
    left: 0%;
  }
  50% {
    display: none;
  }
  100% {
    left: 100%;
  }
}

/* @keyframes example-4 {
  0% {
    top: 5rem;
  }
  25% {
    top: 6rem;
  }
  50% {
    top: 7rem;
  }
  75% {
    top: 6rem;
  }
  100% {
    top: 5rem;
  }
} */
@keyframes example-4 {
  0% {
    top: 5rem;
    left: 0%;
  }
  50% {
    display: none;
  }
  100% {
    top: 5rem;
    left: 100%;
  }
}
